<!-- 2022-09-21 USP -->
<ul section-root>
<li><a href="index.htm">Home Automation</a><ul>
	<li><a href="overview.htm">Overview</a></li>
	<li><a href="">Bluetooth</a><ul>
		<li><a href="bt-classic.htm">Bluetooth Classic</a></li>
		<li><a href="ble.htm">Bluetoot Low Energy (BLE)</a></li>
		<li><a href="bt-mesh.htm">Bluetooth Mesh</a></li>
		</ul></li>
	<li><a href="gloassary.htm">Glossary</a></li>
	<li><a href="references.htm">References</a></li>
	<li><a href="shopping.htm">Shopping</a></li>
	</ul></li>
</ul>